## General information
Bootnode ENRs: 
```yaml
{% for bootnode_enrs in bootnode_enrs %}
"{{ bootnode_enrs }}"
{% endfor %}
```
Execution Layer bootnode Enodes: 
```yaml
{% for el_bootnode_enode in el_bootnode_enode %}
"{{ el_bootnode_enode }}"
{% endfor %}
```

## Genesis configuration
### Execution layer clients

https://github.com/ethpandaops/withdrawals-testnet/blob/master/withdrawal-mainnet-shadowfork-3/custom_config_data/


## Timeline:
```
msf3: 3rd April, 2023
msf3 shapella: 12 UTC, 6th April, 2023
```

